@import "../abstracts/mixins";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font-family: var(--font-poppins);
}

input {
    height: 20px;
    font-family: var(--font-poppins);
    width: 200px;
}

textarea {
    font-family: var(--font-poppins);
    width: 200px;
    height: 50px;
}

.list-buttom {
    background-color: var(--pink-color);
    color: var(--bone-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    bottom: 5px;
}

.list-buttom:hover {
    filter: brightness(90%);
}

.cards {
    margin-top: 30px;
    @include grid(4, 2px);
}

.card {
    @include flexible(flex, column, nowrap, flex-start, center);
    margin: 10px;
    word-wrap: break-word;
    text-align: left;
}

.description{
    width: 260px;
}