@mixin flexible($dis, $direccion, $corte, $just, $align) {
    display: $dis;
    flex-flow: $direccion $corte;
    justify-content: $just;
    align-items: $align;
}

@mixin grid($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap : $espacio;

    @media screen and (max-width:480px){
        grid-template-columns: 1fr;
        gap: 0em;
    }
}